@using System.Collections.Generic;
@using Oratr.Models;
@model IEnumerable<Speech>

@{
    ViewBag.Title = "Speeches";
}
<!-- 3 actions needed on this sheet: go back, add speech, view details by clicking on speech-->
<h2>Speeches</h2>

@foreach (var item in Model)
{
    <h4>@item.SpeechTitle</h4>
    @Html.ActionLink("View Details", "Details", new { id = @item.SpeechId})
}

<div>@Html.ActionLink("Add a Speech", "Create") | @Html.ActionLink("Go Back", "Index")</div>